<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <FZ_GoogleAnalytics>
            <version>1.0.0</version>
        </FZ_GoogleAnalytics>
    </modules>
    <global>
        <models>
            <fz_googleanalytics>
                <class>FZ_GoogleAnalytics_Model</class>
            </fz_googleanalytics>
        </models>
        <blocks>
            <fz_googleanalytics>
                <class>FZ_GoogleAnalytics_Block</class>
            </fz_googleanalytics>
        </blocks>
        <helpers>
            <fz_googleanalytics>
                <class>FZ_GoogleAnalytics_Helper</class>
            </fz_googleanalytics>
        </helpers>
    </global>
    <admin>
        <routers>
            <fz_googleanalytics>
                <use>admin</use>
                <args>
                    <module>FZ_GoogleAnalytics</module>
                    <frontName>googleanalytics</frontName>
                </args>
            </fz_googleanalytics>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fz_googleanalytics>
                    <file>fz/googleanalytics.xml</file>
                </fz_googleanalytics>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <fz_googleanalytics>
            <dashboard>
                <active>1</active>
                <default_api_key>AIzaSyAZeVHVQ88NNd7U24jhr2I69t2Cp981hW0</default_api_key>
                <default_client_id>413983071114-ltgbiudrccbildroops066omrahiqoul.apps.googleusercontent.com</default_client_id>
                <default_client_secret>43ur5YfaaPzRrea4KmFO-JaU</default_client_secret>
                <active_tab>realtime</active_tab>
                <autoplay>0</autoplay>
                <refresh_timing>10</refresh_timing>
            </dashboard>
        </fz_googleanalytics>
    </default>
</config>